.component {
  padding-left: 36px;
  .form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 12px;
    gap: 3px;
    .error {
      border-color: rgba(217, 19, 19, 1);
;
    }
    .formIsValid {
      background-color: #52cf4f;
;
    }
    & label {
      font-size: 12px;
    }
    & input {
      min-width: 211px;
      border: 1px solid #afafaf;
      border-radius: 5px;
      font-size: 16px;
      padding: 5px 10px;
    }
    & textarea {
      font-size: 16px;
      resize: none;
      width: 422px;
      height: 55px;
      padding: 5px 10px;
    }
    & button {
      margin-left: 389px;
      color: #fff;
      background-color: #afafaf;
      border: none;
      padding: 5px 10px;
      margin-top: 30px;
    }
  }
  .readonly {
    & input:read-only {
      color: #0000004d;
    }
  }
  .title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 160px;
    & button {
      color: #fff;
      background-color: #4b51ef;
      padding: 6px 11px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        background-color: darken(#4b51ef, 25%);
      }
    }
    & h2 {
      font-size: 18px;
    }
  }
}
